/* div {
width: 100px;
hight: 100px;
background: red;
transiton-property: width, height;
transiton-duration: 2s;
transiton-timing-function: linear;
transiton-delay: 1s;
} */





div {
    width: 100px;
    height: 100px;
    background: rgb(25, 11, 216);
    transition: width 2s linear 1s;
    }
    
    div:hover {
        width: 1000px;
        height: 600px;
    }